@model Tienda_Ropa.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-3">
    <div class="text-center">
          <button class="btn-lg btn-outline-secondary filter-button mx-3" aria-current="page" href="#">Todos</button>
          @foreach (var item in Model.categorias)
          {
              <button class="btn-lg btn-outline-secondary filter-button mx-3" aria-current="page" data-filter="@item.NombreCategoria.Replace(" ","_")">
                  @item.NombreCategoria
              </button>
          }
    </div>

    <div> <br />
        <div class="row">
            @foreach (var item in Model.productos)
            {
                
            }
        </div>    
    </div>
</div>
